[main]
Description=
Host=vpn.cbmcpa.com
AuthType=1
GroupName=IntranetAdmin
GroupPwd=
enc_GroupPwd=B105276FDD21349478F3E3227A30E47D9A7EDB7C40FC2A1921DAFC949360B7A13AA4B5C7EC8DB07320A726379A07365CA4DE6CFD4F6AC1AC
EnableISPConnect=0
ISPConnectType=0
ISPConnect=MayaTech
ISPPhonebook=C:\Users\bnader\AppData\Roaming\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=intranetadmin
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
